@using Blog.EntityLayer.Entities
@model IQueryable<Message>
@{
    ViewBag.Title = "WriterInboxMessage";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<html>

<body class="hold-transition sidebar-mini">

    <!-- Content Wrapper. Contains page content -->
    <!-- Content Header (Page header) -->
    <nav class="navbar navbar-expand navbar-dark bg-dark align-items-center justify-content-center">
        <h2 class="text-bold">MESAJLARIM</h2>
    </nav>
    <!-- /.Content Header (Page header) -->
    <!-- Main content -->
    <section class="content p-3">
        <div class="row">
            @Html.Partial("_WriterInboxPartial")
            <!-- col -->
            <div class="col-md-9">
                <!-- card -->
                <div class="card card-primary card-outline">
                    <!-- card-header -->
                    <div class="card-header">
                        <h3 class="card-title text-secondary">Gelen Kutusu</h3>
                        <!-- card-tools -->
                        <div class="card-tools">
                            <div class="input-group input-group-sm">
                                <input type="text" class="form-control" placeholder="E-Posta Ara">
                                <div class="input-group-append">
                                    <div class="btn btn-primary">
                                        <i class="fas fa-search"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-tools -->
                    </div>
                    <!-- /.card-header -->
                    <!-- card-body -->
                    <div class="card-body p-0">
                        <!-- mail-box-controls -->
                        <div class="mailbox-controls">
                            <div class="float-right">
                                1-50/200
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-sm"><i class="fas fa-chevron-left"></i></button>
                                    <button type="button" class="btn btn-default btn-sm"><i class="fas fa-chevron-right"></i></button>
                                </div>
                            </div>
                        </div>
                        <!-- /.mail-box-controls -->
                        <!-- mail-box-messages -->
                        <div class="table-responsive mailbox-messages">
                            <table class="table table-hover table-striped">
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                <div class="icheck-primary">
                                                    <input type="checkbox" value="" id="check">
                                                    <label for="check"></label>
                                                </div>
                                            </td>
                                            <td class="mailbox-name"><a href="/WriterPanelMessage/WriterInboxDetailsMessage/@item.Id">@item.SenderMail</a></td>
                                            <td class="mailbox-subject">
                                                <b>@item.Subject</b> <br />
                                                @Html.Raw(item.MessageContent.Substring(0, 40))...
                                            </td>
                                            <td class="mailbox-attachment"></td>
                                            <td class="mailbox-date text-center">
                                                @item.MessageDate.ToString("dd.MM.yyyy") <br />
                                                @item.MessageDate.ToString("HH:mm")
                                            </td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <!-- /.mail-box-messages -->
                    </div>
                    <!-- /.card-body -->
                    <!-- card-body -->
                    <div class="card-footer p-0">
                        <!-- mail-box-controls -->
                        <div class="mailbox-controls">
                            <div class="float-right">
                                1-50/200
                                <div class="btn-group">
                                    <button type="button" class="btn btn-default btn-sm"><i class="fas fa-chevron-left"></i></button>
                                    <button type="button" class="btn btn-default btn-sm"><i class="fas fa-chevron-right"></i></button>
                                </div>
                            </div>
                        </div>
                        <!-- /.mail-box-controls -->
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
    </section>
    <!-- /.Main content -->
</body>
</html>

